.box1{
    height: 100px;
    width: 100px;
    background-color: rgb(15, 128, 90);
    padding: 10px;
    border: dotted black 4px;
    margin: 10px;
    box-sizing: content-box;
    text-align: center;
}

.box2{
    height: 100px;
    width: 130px;
    background-color: rgb(155, 27, 27);
    padding: 5px;
    border: solid goldenrod 8px;
    margin: 5px;
    text-align: center;
}

.box3{
    height: 200px;
    width: 100px;
    background-color: rgb(53, 53, 214);
    padding: 8px;
    border: groove greenyellow 5px;
    margin: 8px;
    box-sizing: border-box;
    text-align: center;
}