button{
    margin: 2px;
    border: 2px solid white;
}

.completed{
    text-decoration: line-through;
    
}

li{
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    flex: 1;
}