body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px;
  background-color: cornflowerblue;
  height: 60px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.characterCard {
  background-color: rgb(167, 161, 155);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  transition: transform 0.2s;
}

.characterCard:hover {
  transform: scale(1.05);
}

.characterCard img {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  margin: 20px;
}

#clock {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
}
